/* dialog {
  border: none;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
} */

dialog {
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  width: 90%;
  max-width: 400px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

