/* Стили для Мега-Меню */

.dropdown-mega {
  position: static !important;
}

.dropdown-mega .dropdown-menu {
  width: 100%;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}

.mega-menu-promo {
  background-size: cover;
  background-position: center;
  min-height: 250px;
  display: flex;
  align-items: flex-end;
  padding: 1.5rem;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

/* Корректировка размера иконок в панели навигации */

.navbar-actions .nav-link {
  font-size: 1.25rem;
}

.navbar-actions .nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

