.wishlist-header strong {
  font-size: 1.5rem;
}

.img-wishlist-item-container {
  height: 120px;
  width: 120px;
}

.img-wishlist-item {
  height: 90px;
  width: 90px;
}

/* for checkbox */

/* input:focus {
  outline: 0 none !important;
  border: none !important;
  box-shadow: none !important;
} */

