@media (min-width: 992px) and (max-width: 1199.98px) {
  .fixed-lg-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .fixed-xl-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}

@media (min-width: 1400px) {
  .fixed-xxl-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}

.dropdown-mega .dropdown-menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
  border-top: none;
}

.dropdown-mega .nav-pills .nav-link {
  border-radius: 0.25rem;
}

.dropdown-mega .tab-content {
  padding: 1rem;
  border-top: none;
  border-radius: 0 0 0.25rem 0.25rem;
}

.search-category-dropdown {
  max-height: 200px;
  overflow-y: auto;
}

.navbar-nav .nav-link .badge {
  font-size: 0.6em;
  padding: 0.3em 0.45em;
  vertical-align: top;
}

header form.searchform {
  width: 100%;
  /*padding-left: 20px;*/
  /*padding-right: 20px;*/
}

.input-group {
  flex-wrap: nowrap;
}

div {
}

a {
  text-decoration: none;
}

input:focus {
  outline: 0 none !important;
  border: none !important;
  box-shadow: none !important;
}

