/* ==========================================================================
   General Styles & Resets
   ========================================================================== */

a {
  text-decoration: none;
}

/* ==========================================================================
   Product Card Grid Layout
   ========================================================================== */

.product-card-grid-container-outer {
  max-width: 280px;
  min-width: 260px;
  border: solid 1px #00000000;
  transition: box-shadow 0.2s;
}

.product-card-grid-container-outer:hover {
  border: solid 1px #e5e5e520;
  z-index: 10;
}

.product-card-grid-container-outer a {
  text-decoration: none;
}

.product-card-grid-container-inner {
  position: relative;
}

.product-card-grid-header {
}

.product-card-grid-body {
}

/* limits the height and contains the elements <p> so that all the cards have the same size in cases of different sizes of the text */

.product-card-grid-body .product-card-grid-text-container {
  height: 80px;
  margin-bottom: 15px;
  overflow: hidden;
}

.img-product-card-grid {
  max-width: 220px;
  max-height: 220px;
}

/* This class appears to have a typo or is a separate variant. Included for completeness. */

.img-product-product-card-grid-container-outer {
  max-width: 240px;
  max-height: 240px;
}

/* ==========================================================================
   On-Image Absolutely Positioned Content
   ========================================================================== */

.product-card-grid-on-img-content-top {
  position: absolute;
  display: none;
}

.product-card-grid-on-img-content-left {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 20px;
}

.product-card-grid-on-img-content-buttom {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

/* Container for icons on the right side of the image */

.product-card-grid-on-img-content-right {
  position: absolute;
  bottom: 20px;
  left: 80%;
  width: 20px;
  display: flex;
  flex-direction: column;
  transition: left 0.5s;
}

/* No override needed on hover as per commented out CSS. Kept for reference. */

.product-card-grid-container-inner:hover .product-card-grid-on-img-content-right {
  /*left: 220px !important;*/
}

/* ==========================================================================
   Circle Icons & Hover Effects
   ========================================================================== */

/* General icon container, hidden by default. */

.circle-icon-grid-container {
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
}

/* Make '.active' icons visible by default. */

.circle-icon-grid-container.active {
  visibility: visible;
}

/* On product card hover, show icons that are not already active with an animation. */

.product-card-grid-container-inner:hover .circle-icon-grid-container:not(.active) {
  display: flex;
  visibility: visible;
  animation: 0.5s show ease;
}

/* ==========================================================================
   Badges & Decorative Elements
   ========================================================================== */

/* A small circular element, potentially used as a badge or indicator. */

.little-circle {
  width: 16px;
  height: 30px;
  /*Note: Height is larger than width, creating a pill shape.;*/
  padding: 1px 8px;
  overflow: visible;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.17);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -khtml-border-radius: 50px;
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.17);
  -khtml-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.17);
}

/* ==========================================================================
   Star Rating
   ========================================================================== */

.stars-container-outer {
}

.stars-container-inner {
  display: flex;
  flex-direction: row;
}

.star-item {
}

/* ==========================================================================
   Keyframe Animations
   ========================================================================== */

/* Simple fade-in animation */

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

