html {
  overflow-y: scroll;
}

body {
  /*margin: 0;*/
}

/* Для всей страницы или конкретного элемента */

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Фон скроллбара (дорожка) */

body::-webkit-scrollbar-track {
  background: transparent;
}

/* Сам "ползунок" скроллбара */

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid transparent;
  background-clip: content-box;
}

/* При наведении на ползунок */

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Для углового элемента скроллбара (если есть и вертикальный, и горизонтальный) */

body::-webkit-scrollbar-corner {
  background: transparent;
}

