/* --- Card Styles --- */

.page-card {
  border: none;
  border-radius: 1rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow: hidden;
  text-decoration: none;
}

/* --- Hover Effect (The "Goodie") --- */

.page-card:hover {
  transform: translateY(-10px);
}

.page-card .card-img-container {
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.page-card .card-img-top {
  transition: transform 0.4s ease-in-out;
}

.page-card:hover .card-img-top {
  transform: scale(1.05);
}

.page-card .card-body {
  padding: 1.75rem;
}

.page-card .card-title {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-card .card-text {
}

/* Arrow icon as an extra goodie */

.page-card .card-title .icon-arrow {
  font-size: 1.5rem;
  color: var(--bs-info);
  opacity: 0;
  transform: translateX(-15px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.page-card:hover .card-title .icon-arrow {
  opacity: 1;
  transform: translateX(0);
}

.line-limit {
  height: calc(1.5em * 3);
  overflow: hidden;
}

