/* IMG Basket */

.img-basket-item-container {
  height: 120px;
  width: 120px;
  aspect-ratio: 1;
}

/* IMG Basket */

.img-basket-item {
  height: 90px;
  width: 90px;
  aspect-ratio: 1;
}

.basket-header strong {
  font-size: 1.5rem;
}

/* for colors */

a {
  text-decoration: none;
}

/* for checkbox */

input:focus {
  outline: 0 none !important;
  border: none !important;
  box-shadow: none !important;
}

