/* IMG Basket */

.img-basket-item-container {
  height: 120px;
  width: 120px;
  aspect-ratio: 1;
}

/* IMG Basket */

.img-basket-item {
  height: 90px;
  width: 90px;
  aspect-ratio: 1;
}

.basket-header strong {
  font-size: 1.5rem;
}

