/* Additional styles for mega-menu and visual improvements */

.dropdown-mega .dropdown-menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
  border-top: none;
}

.dropdown-mega .nav-pills .nav-link {
  border-radius: 0.25rem;
}

/* Styles for active tab are well covered by Bootstrap, but can be enhanced if needed */

/* .dropdown-mega .nav-pills .nav-link.active { ... } */

.dropdown-mega .tab-content {
  padding: 1rem;
  border-top: none;
  border-radius: 0 0 0.25rem 0.25rem;
}

.search-category-dropdown {
  max-height: 200px;
  overflow-y: auto;
}

.navbar-nav .nav-link .badge {
  font-size: 0.6em;
  padding: 0.3em 0.45em;
  vertical-align: top;
}

header form.searchform {
  width: 100%;
  /*padding-left: 20px;*/
  /*padding-right: 20px;*/
}

.input-group {
  flex-wrap: nowrap;
}

