.order-item-container-outer a {
  cursor: pointer;
}

/* orderlist product card */

.order-item-product-card-container {
  border-bottom: solid 1px #ededed;
}

/* img */

.order-item-product-card-img-outer {
}

.order-item-product-card-img-inner {
}

.order-item-product-card-img-item {
  height: 70px;
  aspect-ratio: 1;
  resize: both;
}

/* body */

.order-item-product-body-outer {
}

.order-item-product-body-inner {
}

