.ui-circle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  color: #343a40;
  border-radius: 50%;
  border: 0.1rem solid #dcdcdc;
  text-decoration: none !important;
}

.ui-circle-icon i {
  font-size: 1rem;
}

.ui-circle-icon:hover {
  border-color: #1f9bcf;
}

.ui-circle-icon-active {
  background-color: #fbfcf8;
  border-color: #4bbf73;
}

/* scaling on mouse click */

.ui-circle-icon:active i, .ui-circle-icon-active a:active i {
  /*font-size: 0.9rem;*/
  transform: scale(1.1);
}

/* width-height-rem params */

/* rem sizes */

.ui-circle-icon-size-width-height-0_5rem {
  width: 0.5rem;
  height: 0.5rem;
}

.ui-circle-icon-size-width-height-0_5rem i {
  font-size: 0.25rem;
}

.ui-circle-icon-size-width-height-1rem {
  width: 1rem;
  height: 1rem;
}

.ui-circle-icon-size-width-height-1rem i {
  font-size: 0.5rem;
}

.ui-circle-icon-size-width-height-1_5rem {
  width: 1.5rem;
  height: 1.5rem;
}

.ui-circle-icon-size-width-height-1_5rem i {
  font-size: 0.75rem;
}

.ui-circle-icon-size-width-height-2rem {
  width: 2rem;
  height: 2rem;
}

.ui-circle-icon-size-width-height-2rem i {
  font-size: 1rem;
}

.ui-circle-icon-size-width-height-2_5rem {
  width: 2.5rem;
  height: 2.5rem;
}

.ui-circle-icon-size-width-height-2_5rem i {
  font-size: 1.25rem;
}

.ui-circle-icon-size-width-height-3rem {
  width: 3rem;
  height: 3rem;
}

.ui-circle-icon-size-width-height-3rem i {
  font-size: 1.5rem;
}

/* Pixel sizes */

/* 18 24 32 36 42 52 64 */

.ui-circle-icon-size-width-height-18px {
  width: 18px;
  height: 18px;
}

.ui-circle-icon-size-width-height-18px i {
  font-size: 9px;
}

.ui-circle-icon-size-width-height-24px {
  width: 24px;
  height: 24px;
}

.ui-circle-icon-size-width-height-24px i {
  font-size: 12px;
}

.ui-circle-icon-size-width-height-32px {
  width: 32px;
  height: 32px;
}

.ui-circle-icon-size-width-height-32px i {
  font-size: 16px;
}

.ui-circle-icon-size-width-height-36px {
  width: 36px;
  height: 36px;
}

.ui-circle-icon-size-width-height-36px i {
  font-size: 18px;
}

.ui-circle-icon-size-width-height-42px {
  width: 42px;
  height: 42px;
}

.ui-circle-icon-size-width-height-42px i {
  font-size: 21px;
}

.ui-circle-icon-size-width-height-52px {
  width: 52px;
  height: 52px;
}

.ui-circle-icon-size-width-height-52px i {
  font-size: 26px;
}

.ui-circle-icon-size-width-height-64px {
  width: 64px;
  height: 64px;
}

.ui-circle-icon-size-width-height-64px i {
  font-size: 32px;
}

/* scaling icons */

.ui-circle-icon-scale-01 {
  transform: scale(0.1);
}

.ui-circle-icon-scale-01 i {
  transform: scale(1.01);
}

.ui-circle-icon-scale-02 {
  transform: scale(0.2);
}

.ui-circle-icon-scale-02 i {
  transform: scale(1.02);
}

.ui-circle-icon-scale-03 {
  transform: scale(0.3);
}

.ui-circle-icon-scale-03 i {
  transform: scale(1.03);
}

.ui-circle-icon-scale-04 {
  transform: scale(0.4);
}

.ui-circle-icon-scale-04 i {
  transform: scale(1.04);
}

.ui-circle-icon-scale-05 {
  transform: scale(0.5);
}

.ui-circle-icon-scale-05 i {
  transform: scale(1.05);
}

.ui-circle-icon-scale-06 {
  transform: scale(0.6);
}

.ui-circle-icon-scale-06 i {
  transform: scale(1.06);
}

.ui-circle-icon-scale-07 {
  transform: scale(0.7);
}

.ui-circle-icon-scale-07 i {
  transform: scale(1.07);
}

.ui-circle-icon-scale-08 {
  transform: scale(0.8);
}

.ui-circle-icon-scale-08 i {
  transform: scale(1.08);
}

.ui-circle-icon-scale-09 {
  transform: scale(0.9);
}

.ui-circle-icon-scale-09 i {
  transform: scale(1.09);
}

.ui-circle-icon-scale-10 {
  transform: scale(1);
}

.ui-circle-icon-scale-10 i {
  transform: scale(1.1);
}

.ui-circle-icon-scale-11 {
  transform: scale(1.1);
}

.ui-circle-icon-scale-11 i {
  transform: scale(1.11);
}

.ui-circle-icon-scale-12 {
  transform: scale(1.2);
}

.ui-circle-icon-scale-12 i {
  transform: scale(1.12);
}

.ui-circle-icon-scale-13 {
  transform: scale(1.3);
}

.ui-circle-icon-scale-13 i {
  transform: scale(1.13);
}

.ui-circle-icon-scale-14 {
  transform: scale(1.4);
}

.ui-circle-icon-scale-14 i {
  transform: scale(1.14);
}

.ui-circle-icon-scale-15 {
  transform: scale(1.5);
}

.ui-circle-icon-scale-15 i {
  transform: scale(1.15);
}

.ui-circle-icon-scale-16 {
  transform: scale(1.6);
}

.ui-circle-icon-scale-16 i {
  transform: scale(1.16);
}

.ui-circle-icon-scale-17 {
  transform: scale(1.7);
}

.ui-circle-icon-scale-17 i {
  transform: scale(1.17);
}

.ui-circle-icon-scale-18 {
  transform: scale(1.8);
}

.ui-circle-icon-scale-18 i {
  transform: scale(1.18);
}

.ui-circle-icon-scale-19 {
  transform: scale(1.9);
}

.ui-circle-icon-scale-19 i {
  transform: scale(1.19);
}

.ui-circle-icon-scale-20 {
  transform: scale(2);
}

.ui-circle-icon-scale-20 i {
  transform: scale(1.2);
}

.ui-circle-icon-scale-21 {
  transform: scale(2.1);
}

.ui-circle-icon-scale-21 i {
  transform: scale(1.21);
}

.ui-circle-icon-scale-22 {
  transform: scale(2.2);
}

.ui-circle-icon-scale-22 i {
  transform: scale(1.22);
}

.ui-circle-icon-scale-23 {
  transform: scale(2.3);
}

.ui-circle-icon-scale-23 i {
  transform: scale(1.23);
}

.ui-circle-icon-scale-24 {
  transform: scale(2.4);
}

.ui-circle-icon-scale-24 i {
  transform: scale(1.24);
}

.ui-circle-icon-scale-25 {
  transform: scale(2.5);
}

.ui-circle-icon-scale-25 i {
  transform: scale(1.25);
}

.ui-circle-icon-scale-26 {
  transform: scale(2.6);
}

.ui-circle-icon-scale-26 i {
  transform: scale(1.26);
}

.ui-circle-icon-scale-27 {
  transform: scale(2.7);
}

.ui-circle-icon-scale-27 i {
  transform: scale(1.27);
}

.ui-circle-icon-scale-28 {
  transform: scale(2.8);
}

.ui-circle-icon-scale-28 i {
  transform: scale(1.28);
}

.ui-circle-icon-scale-29 {
  transform: scale(2.9);
}

.ui-circle-icon-scale-29 i {
  transform: scale(1.29);
}

.ui-circle-icon-scale-30 {
  transform: scale(3);
}

.ui-circle-icon-scale-30 i {
  transform: scale(1.3);
}

