/* one header for many products */

.wishlist-header {
}

.wishlist-header strong {
  /*color: black;*/
  font-size: 1.5rem;
}

.wishlist-item-container-outer {
  /*border: 1px solid #EDEDED;*/
}

.wishlist-item-container-inner {
}

.wishlist-item-header {
}

.img-wishlist-item-container {
  height: 120px;
  width: 120px;
}

.img-wishlist-item {
  height: 90px;
  width: 90px;
}

.wishlist-item-body {
}

.wishlist-item-button {
}

a {
  text-decoration: none;
}

input:focus {
  outline: 0 none !important;
  border: none !important;
  box-shadow: none !important;
}

