name: Deploy Static HTML to Azure Web App

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_F4857A2F9B994878AF155466580C4E50 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_6BE13E11C8904850A666F8AE546FEB6D }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_E80540791B2349CC8A090F5965A89CE2 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "bss-html"
          slot-name: "Production"
          package: "." # Загружает все файлы из корня репозитория
